@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css);

html {
	background-color: #fff;
	}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    margin-top: 0px;
    margin-bottom: 0px;
}
h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
		font-size: 3em;
    font-style: normal;
    letter-spacing: 2px;
    text-align: center;
}
h2 {
  color: #fff;
  font-family: 'Lora';
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 20px;
}

/*  .navbar-left  { .pull-left(); }
  .navbar-right {
    .pull-right();
    margin-right: -@navbar-padding-horizontal;
    ~ .navbar-right {
      margin-right: 10000px;
    }
  }*/



textarea {
  width: 100%;
}

.homePage {
  margin: 0;
  width: 100%;
  max-width: 100%;
}

.carou {
  width: 100%;
  height: 100%;
}


/* ############ Animations ############ */

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-enter {
  opacity: 0.01;
  width: 0px;
}

.example-enter.example-enter-active {
  opacity: 1;
  width: 100px;
  transition: 700ms;
}

.example-leave {
  opacity: 1;
  width: 100px;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms;
}


/* courses list apper */
.course-item-appear {
  opacity: 0.01;
}
.course-item-appear.course-item-appear-active {
  opacity: 1;
  transition: opacity .9s ease-in;
}

/* remove courses */
.course-item-leave {
  opacity: 1;
}
.course-item-leave.course-item-leave-active {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #ffffff;
}
